
 <thead  class="thead-dark">
    <tr>
      <th>Task name</th>
      <th>Task descption</th>
      <th>Start date</th>
      <th>Due date</th>
       <th>Estimate time</th>
      <th>Priority scale</th>
      <th>Status</th>
      <th>privacy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id = "myid">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_descption %></td>
        <td><%= task.start_date %></td>
        <td><%= task.due_date %></td>
        <td><%= task.estimate_time %></td>
        <td><%= task.priority_scale %></td>        
        <td><%= task.status %></td>        
        <td> <% if task.ispublic %>
               <%= render plain: 'Public' %>
             <% else %>
               <%= render plain: 'Private' %>
             <% end %>
        </td>
        <td><%= link_to 'Edit', edit_user_task_path(@user, task),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',class: "btn btn-primary"}  %></td>
        <td><%= link_to 'Delete', [@user, task],class: "btn btn-danger ",id: "deleteit", remote: true  , method: :delete, data: { confirm: 'Are you sure?'}
          
       %></td>
      </tr>
  <% end %> 
  </tbody>